
  
  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
  }
  
  
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }
  
  ul{
    padding-top: 4rem;
  }
  